[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

pylint = "*"
pytest = "*"
pytest-cov = "*"


[packages]

"pyasn1" = "*"
"pyasn1-modules" = "*"
cryptography = "*"
